.storySlide{
  height: 70% !important;
}

.storySlideImg{
  margin-top: 5% !important;
}
.storySlide p{
    font-size: 20px !important;
}
.storySlide h3{
        font-size:25px !important;
        color: grey;
    }
.storySlide h1{
    color: #13c0d7;
}
@media screen and (max-width: 35em) {
	.storySlide {
		height: 100% !important;
        
	}
    
}
